@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* Matches new hianime-dark */
  color: #f8fafc; /* Slate 50 */
  font-family: 'Inter', sans-serif;
  margin: 0;
}

/* Modern "Wiki" Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155; /* Slate 700 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #38bdf8; /* Accent Blue */
}