@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0c2a;
  color: white;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0b0c2a;
}
::-webkit-scrollbar-thumb {
  background: #ffbade;
  border-radius: 4px;
}
